In [8]:
import pandas as pd
df = pd.read_csv("tesla_deliveries_dataset_2015_2025.csv")
df

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
0,2023,5,Europe,Model S,17646,17922,92874.27,120,704,1863.42,Interpolated (Month),12207
1,2015,2,Asia,Model X,3797,4164,62205.65,75,438,249.46,Official (Quarter),7640
2,2019,1,North America,Model X,8411,9189,117887.32,82,480,605.59,Interpolated (Month),14071
3,2021,2,North America,Model 3,6555,7311,89294.91,120,712,700.07,Official (Quarter),9333
4,2016,12,Middle East,Model Y,12374,13537,114846.78,120,661,1226.88,Estimated (Region),8722
...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2021,10,Middle East,Model Y,13488,14333,113771.10,120,719,1454.68,Official (Quarter),4273
2636,2019,7,Middle East,Model S,18300,18407,81889.67,82,487,1336.81,Official (Quarter),9833
2637,2019,9,Asia,Model S,13291,14839,97139.38,100,580,1156.32,Estimated (Region),13709
2638,2020,5,Asia,Cybertruck,3471,3714,69990.57,60,358,186.39,Interpolated (Month),6754
2639,2018,8,North America,Model S,2639,2929,51676.24,82,474,187.63,Estimated (Region),14297

In [10]:
df = df.sort_values("Region")
df

,Year,Month,Region,Model,Estimated_Deliveries,Production_Units,Avg_Price_USD,Battery_Capacity_kWh,Range_km,CO2_Saved_tons,Source_Type,Charging_Stations
2112,2018,11,Asia,Model Y,11974,12019,98303.28,100,565,1014.80,Estimated (Region),3668
1432,2017,1,Asia,Model S,10239,10788,95347.22,75,417,640.45,Official (Quarter),13663
242,2015,11,Asia,Model S,15682,17319,60772.71,82,484,1138.51,Interpolated (Month),5693
2463,2025,2,Asia,Model X,20012,20874,91474.05,75,423,1269.76,Estimated (Region),3665
244,2024,11,Asia,Model 3,12742,14279,64495.94,120,680,1299.68,Estimated (Region),4610
...,...,...,...,...,...,...,...,...,...,...,...,...
411,2025,3,North America,Model 3,6581,6910,64552.18,60,354,349.45,Interpolated (Month),10494
2387,2022,2,North America,Cybertruck,10571,11285,50815.14,60,346,548.63,Estimated (Region),10938
2534,2018,5,North America,Cybertruck,9784,10643,87896.21,60,332,487.24,Interpolated (Month),3684
365,2025,6,North America,Model X,8118,8480,82937.90,82,454,552.84,Estimated (Region),3551
2639,2018,8,North America,Model S,2639,2929,51676.24,82,474,187.63,Estimated (Region),14297

In [27]:
df.isnull().sum()

Year                    0
Month                   0
Region                  0
Model                   0
Estimated_Deliveries    0
Production_Units        0
Avg_Price_USD           0
Battery_Capacity_kWh    0
Range_km                0
CO2_Saved_tons          0
Source_Type             0
Charging_Stations       0
dtype: int64

In [18]:
Region_name = df["Region"].unique()
Region_name = Region_name.tolist()
Region_name

['Asia', 'Europe', 'Middle East', 'North America']

In [28]:
region_dfs = {}
for region in Region_name:
    temp_df = df[df["Region"]==region].copy()
    temp_df.reset_index(drop=True, inplace=True)
    temp_df.sort_values(by=["Year","Month"], inplace=True)
    region_dfs[region] = temp_df

In [25]:
Asia

NameError: name 'Asia' is not defined